<div ng-if="c8y.user">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" ng-init="isCollapsed = true">
                <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="#/">quarkioe</a>
            </div>
            <div id="navbar" class="navbar-collapse" collapse="isCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="main.logout()" c8y-logout>退出</a></li>
                </ul>
                <p class="navbar-text navbar-right">你好 {{c8y.user.firstName}}</p>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li
                            ng-repeat="(sectionLabel, section) in main.sections"
                            ng-class="{'active': main.currentSection === section}">
                        <a href="" ng-href="#/{{section}}">{{sectionLabel}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
                <ng-include src="'views/devicechart.html'"></ng-include>

            </div>
        </div>
    </div>
</div>
