<!--<div class="row">-->
    <!--<div class="mapChar col-md-6">-->
        <!--ssssss-->
    <!--</div>-->
    <!--<div id="wrap" ng-controller="mapCtrl" class="mapChar my-map col-md-6">-->
        <!--<div id="mapContainer"></div>-->
    <!--</div>-->
<!--</div>-->